

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  width: 100%;
  padding: 0 6rem;
  z-index: 100;
}

.nav__logo {
  height: 4.5rem;
  transition: all 0.3s;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;

  a {
    display: inline-block;
    font-family: Lato, sans-serif;
    text-transform: uppercase;

    text-decoration: none;
  }
}

.nav__item {
  margin-left: 4rem;
}
